@import "https://fonts.googleapis.com/css?family=Oswald:400,700";
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
body {
	background-color: #1f1f1f
}
a, a:active, a:visited {
	text-decoration: none;
	color: #faba66;
	transition: color .2s linear
}
a:hover {
	cursor: pointer;
	color: #fde7c9;
	transition: color 0s
}
::-moz-selection {
	background: #fef8f0
}
::selection {
	background: #fef8f0
}
section {
	min-height: 82vh;
	padding: 18vh 10vw 10vh;
	background-position: center center;
	background-size: cover
}
section.landing {
	height: 78vh;
	padding: 28vh 10vw 0;
	background-image: url(../images/backgrounds/redblack1.jpg)
}
section.about {
	background-image: url(../images/backgrounds/redblack2.jpg)
}
section.skills {
	background-image: url(../images/backgrounds/code.jpg)
}
section.events {
	background-image: url(../images/backgrounds/fans.jpg)
}
section.events h1 {
	font-size: 9.1vw
}
.blurbs {
	line-height: 1.5em
}
.blurbs .blurb {
	padding-right: 4vw;
	white-space: nowrap
}
.blurbs .blurb i {
	padding-right: .5vw
}
.blurbs .blurb:last-of-type {
	padding-right: 0
}
.blurbs.personal {
	text-transform: lowercase
}
.company p {
	padding-top: 1em
}
.company .blurb {
	padding-right: 2vw
}
.quicknav {
	position: absolute;
	bottom: 0;
	width: 80vw;
	display: none;
	justify-content: space-between;
	padding-bottom: 9vh;
	font-size: 4.62vw;
	text-transform: lowercase
}
.quicknav a, .quicknav a:active, .quicknav a:visited {
	text-decoration: none;
	color: #f6ca92;
	transition: color .2s linear
}
.quicknav a:hover {
	cursor: pointer;
	color: #fae1c1;
	transition: color 0s
}
.quicknav i.fas {
	font-size: .65em;
	padding-left: .2em
}
.font-default, body {
	font-weight: 400;
	color: #f7f7f7;
	font-family: oswald, trebuchet ms, verdana, arial, sans-serif
}
h1 {
	padding-bottom: 2vh;
	font-weight: 700;
	font-size: 15.5vw;
	letter-spacing: 1px;
	line-height: 1.1em;
	text-transform: uppercase;
	opacity: .8
}
h2 {
	padding: 1.5vh 0;
	font-size: 6vw;
	line-height: 1.1em
}
h3 {
	font-size: 4.3vw;
	line-height: 1.1em
}
p {
	font-size: 5.69vw;
	line-height: 1.3em
}
p+p {
	padding-top: 1em
}
small {
	font-size: .55em
}
@media(min-width:576px) {
	h1 {
		font-size: 15vw
	}
	h2, .quicknav {
		font-size: 4.62vw
	}
	h3 {
		font-size: 4vw
	}
	p {
		font-size: 4.69vw
	}
	section.events h1 {
		font-size: 9vw
	}
}
@media(min-width:768px) {
	h1 {
		font-size: 13vw
	}
	h2, .quicknav {
		font-size: 4vw
	}
	h3 {
		font-size: 3vw
	}
	p {
		font-size: 3.9vw
	}
	section.events h1 {
		font-size: 8.5vw
	}
	.quicknav {
		display: flex
	}
}
@media(min-width:992px) {
	h1 {
		font-size: 10vw
	}
	h2, .quicknav {
		font-size: 3.125vw
	}
	h3 {
		font-size: 2vw
	}
	p {
		font-size: 3vw
	}
	section.events h1 {
		font-size: 8vw
	}
	.quicknav {
		display: flex
	}
}
@media(min-width:1200px) {
	h1 {
		font-size: 8vw
	}
	h2, .quicknav {
		font-size: 2.5vw
	}
	h3 {
		font-size: 1.6vw
	}
	p {
		font-size: 2.4vw
	}
	section.events h1 {
		font-size: 7vw
	}
	.quicknav {
		display: flex
	}
}
